<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".classes.ConfigCloudinary"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShoeStoreApp"
        tools:targetApi="31">
        <activity
            android:name=".activity.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ReviewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DashboardAdmin"
            android:exported="false" />
<!--        <activity
            android:name=".activity.EditProductActivity"
            android:exported="false" />-->
        <activity
            android:name=".activity.ReportActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EditAddressActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddressSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SelectCityActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NewAddressActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DisplayProductListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PayActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddressActivity"
            android:exported="false" />
        <activity
            android:name=".activity.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CouponCartActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddAddressActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".activity.LoginActivity" -->
        <!-- android:exported="true" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CouponActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SuccessOrderActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AboutActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".activity.IntroActivity" -->
        <!-- android:exported="false" /> &lt;!&ndash; <activity &ndash;&gt; -->
        <activity
            android:name=".activity.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>